<main>
  <h1>Colorjs assessment</h1>

  <p>Color library created by Lea Verou<sup>a</sup></p>

  <h2>Install and Import</h2>

  <p>
    <code>npm install colorjs.io</code>
  </p>

  <p>
    <code>import Color from 'colorjs.io'</code>
  </p>

  <h2>Text Examples<sub>using reference Font "Arial"</sub></h2>

  <h3>By Font Size</h3>

  <h4>14px</h4>
  <div class="example-area">
    <p id="s14-400" class="w400">
      APCA reports lightness contrast as an Lc value from Lc 0 to Lc 106 for
      dark text on a light background, and Lc 0 to Lc -108 for light text on a
      dark background (dark mode). The minus sign merely indicates negative
      contrast, which means light text on a dark background.
    </p>

    <p id="s14-700" class="w700">
      APCA reports lightness contrast as an Lc value from Lc 0 to Lc 106 for
      dark text on a light background, and Lc 0 to Lc -108 for light text on a
      dark background (dark mode). The minus sign merely indicates negative
      contrast, which means light text on a dark background.
    </p>
  </div>

  <h4>21px</h4>
  <div class="example-area">
    <p id="s21-400" class="w400" [style.fontSize]="'21px'">
      APCA reports lightness contrast as an Lc value from Lc 0 to Lc 106 for
      dark text on a light background, and Lc 0 to Lc -108 for light text on a
      dark background (dark mode). The minus sign merely indicates negative
      contrast, which means light text on a dark background.
    </p>

    <p id="s21-700" class="w700" [style.fontSize]="'21px'">
      APCA reports lightness contrast as an Lc value from Lc 0 to Lc 106 for
      dark text on a light background, and Lc 0 to Lc -108 for light text on a
      dark background (dark mode). The minus sign merely indicates negative
      contrast, which means light text on a dark background.
    </p>
  </div>

  <h2>APCA Colors, Minimum Object Size</h2>

  <h3>90<sub>equiv. WCAG 2.1 7</sub></h3>

  <div
    *ngFor="let item of greys['90']"
    [style.backgroundColor]="item"
    class="swatch"
  ></div>

  <h3>60<sub>equiv. WCAG 2.1 3</sub></h3>

  <div
    *ngFor="let item of greys['60']"
    [style.backgroundColor]="item"
    class="swatch px-2"
  ></div>

  <h3>50</h3>
  <div
    *ngFor="let item of greys['50']"
    [style.backgroundColor]="item"
    class="swatch px-3"
  ></div>

  <h3>45</h3>

  <div
    *ngFor="let item of greys['45']"
    [style.backgroundColor]="item"
    class="swatch px-4"
  ></div>

  <h3>30</h3>

  <div
    *ngFor="let item of greys['30']"
    [style.backgroundColor]="item"
    class="swatch px-6"
  ></div>

  <h3>25</h3>

  <div
    *ngFor="let item of greys['25']"
    [style.backgroundColor]="item"
    class="swatch px-8"
  ></div>

  <h3>20</h3>

  <div
    *ngFor="let item of greys['20']"
    [style.backgroundColor]="item"
    class="swatch px-10"
  ></div>

  <h3>15</h3>

  <div
    *ngFor="let item of greys['15']"
    [style.backgroundColor]="item"
    class="swatch px-15"
  ></div>
</main>

<hr />

<footer>
  <h2>Notes</h2>

  <sup>a</sup>Co-author on CSS 4 specification.
</footer>
