<h1>Colorjs assessment</h1>

<p>Color library created by Lea Verou<sup>a</sup></p>

<h2>Install</h2>

<code>npm install colorjs.io</code>

<h2>APCA Colors</h2>

<h3>90</h3>

<div
  *ngFor="let item of greys['90']"
  [style.backgroundColor]="item"
  class="swatch"
></div>

<h3>75</h3>

<div
  *ngFor="let item of greys['75']"
  [style.backgroundColor]="item"
  class="swatch"
></div>

<h3>60</h3>

<div
  *ngFor="let item of greys['60']"
  [style.backgroundColor]="item"
  class="swatch"
></div>

<h3>45</h3>

<div
  *ngFor="let item of greys['45']"
  [style.backgroundColor]="item"
  class="swatch"
></div>

<h3>30</h3>

<div
  *ngFor="let item of greys['30']"
  [style.backgroundColor]="item"
  class="swatch"
></div>

<h3>15</h3>

<div
  *ngFor="let item of greys['15']"
  [style.backgroundColor]="item"
  class="swatch"
></div>

<h2>Notes</h2>

<sup>a</sup>Co-author on CSS 4 specification.
