/* You can add global styles to this file, and also import other style files */

:root {
  --minFontSize: 10.5pt;
  --baseFontSize: 14pt;

  --headerFont: Georgia;
  --bodyFont: "Atkinson Hyperlegible", Tahoma, Verdana, sans-serif;
  --codeFont: "Source Code Pro";
  --standardFont: Arial;

  /* initial colors; adjusted via js later */
  --bkgdColor: grey;
  --headerColor: white;
  --bodyColor: orange;
  --tertiaryTextColor: yellow;
  --objectColor: green;

  --headerGrowRat: 1.62;
  --h1FontSize: calc(
    var(--baseFontSize) * var(--headerGrowRat) * var(--headerGrowRat) *
      var(--headerGrowRat)
  );
  --h2FontSize: calc(
    var(--baseFontSize) * var(--headerGrowRat) * var(--headerGrowRat)
  );
  --h3FontSize: calc(var(--baseFontSize) * var(--headerGrowRat));
  --h4FontSize: var(--baseFontSize);
}

body {
  background-color: var(--bkgdColor);
  margin: 1rem 4rem 2rem 6rem;
}

h1,
h2,
h3,
h4 {
  color: var(--headerColor);
  font-family: var(--headerFont);
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

h1 {
  font-size: var(--h1FontSize);
}
h2 {
  font-size: var(--h2FontSize);
}
h3 {
  font-size: var(--h3FontSize);
}
h4 {
  font-size: var(--h4FontSize);
}

p,
li,
td {
  color: var(--bodyColor);
  font-family: var(--bodyFont);
  font-size: var(--baseFontSize);
}

table {
  border-collapse: collapse;
}
td,
th {
  text-align: left;
  padding: 1ch;
}
th {
  font-family: var(--codeFont);
  border-bottom: 1px var(--objectColor) solid;
  border-right: 1px var(--objectColor) solid;
  font-size: var(--minFontSize);
}
td {
  border: 1px var(--objectColor) solid;
  font-size: var(--minFontSize);
}

code {
  color: var(--bodyColor);
  font-family: var(--codeFont);
  font-size: var(--baseFontSize);
}

sub,
sup {
  color: var(--tertiaryTextColor);
  font-size: var(--minFontSize) !important;
  font-weight: 400;
  font-family: var(--bodyFont);
  /* line-height: 0; */
}

hr {
  border-color: var(--objectColor);
  background-color: var(--objectColor);
  color: var(--objectColor);
}

.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}

.example-area {
  border: var(--objectColor) 15px solid;
  padding: 1rem 3rem;
}
.example-area * {
  color: purple;
  font-family: var(--standardFont) !important;
}
.example-area p {
  font-size: 10.5pt;
}
