/* You can add global styles to this file, and also import other style files */

:root {
  --minFontSize: 11pt;
  --baseFontSize: 14pt;
  --largeBoldFontSize: 14pt;
  --largeNormalFontSize: 18pt;

  --headerFont: Georgia;
  --bodyFont: "Atkinson Hyperlegible", "Segoe UI", Tahoma, Verdana, sans-serif;
  --codeFont: "Source Code Pro";

  --headerColor: black;
  --bodyColor: black;
  --tertiaryTextColor: black;
}

body {
  margin: 1rem 4rem 2rem 6rem;
}

h1,
h2,
h3,
h4,
th {
  color: var(--headerColor);
  font-family: var(--headerFont);
}

p,
li,
td {
  color: var(--bodyColor);
  font-family: var(--bodyFont);
  font-size: var(--baseFontSize);
}

table {
  border-collapse: collapse;
}
td,
th {
  text-align: left;
  padding: 1ch;
}
th {
  border-bottom: 2px var(--tertiaryTextColor) solid;
  border-right: 2px var(--tertiaryTextColor) solid;
}
td {
  border: 1px var(--tertiaryTextColor) solid;
}

code {
  color: var(--bodyColor);
  font-family: var(--codeFont);
  font-size: var(--baseFontSize);
}

sub,
sup {
  color: var(--tertiaryTextColor);
  font-size: var(--minFontSize);
}

.fluent-body {
  color: var(--bodyColor);
}
.fluent-body.normal {
  font-size: 14px;
  font-weight: 400;
}
.fluent-body.light {
  font-size: 18px;
  font-weight: 300;
}

.fluent-non-body {
  font-size: 24px;
  font-weight: 200;
}
